* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Lato, sans-serif;
  font-size: large;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 60px auto;
}

#current h2 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 300;
}

#current h3 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 300;
}

#current .wrapper {
  position: relative;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

#current .card {
  width: 40%;
  min-width: 100px;
  padding: 20px 0;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

#current .icon {
  position: absolute;
  top: 16px;
  right: 40px;
}

#daily h2 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 300;
}

#daily .card {
  width: 40%;
  min-width: 100px;
  padding: 20px 0;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

#daily .wrapper {
  position: relative;
  display: flex;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

#daily .wrapper .card {
  margin: 0 20px;
}

#header h1 {
  padding: 12px 0;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#hourly h2 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 300;
}

#hourly .wrapper {
  position: relative;
  display: flex;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

#hourly .wrapper .card {
  width: 40%;
  min-width: 100px;
  padding: 20px 0;
  margin: 0 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

#select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#favorite-cities {
  min-width: 180px;
  padding: 8px 16px;
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-bar {
  min-width: 180px;
  padding: 8px 16px;
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 4px;
}
