* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 60px auto;
}

#current {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
@media (max-width: 420px) {
  #current {
    margin: 0 15px;
    text-align: center;
  }
}

#current h2 {
  font-size: 2.4rem;
  font-weight: 300;
}
@media (max-width: 420px) {
  #current h2 {
    font-size: 2rem;
  }
}

#current h3 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 600;
}

#current .place {
  font-weight: bold;
  padding: 0 5px;
}

#current .wrapper {
  position: relative;
  padding: 20px;
  text-align: center;
}

#current .card {
  width: 60%;
  min-width: 100px;
  margin: 10px auto;
  background-color: #f7f9fc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 420px) {
  #current .card {
    flex-direction: column;
    width: 80%;
  }
}

#current .icon {
  position: absolute;
  top: 16px;
  right: 40px;
  cursor: pointer;
}
@media (max-width: 420px) {
  #current .icon {
    top: 32px;
    right: 30px;
  }
}

#current .fill {
  display: none;
}

#daily {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
@media (max-width: 420px) {
  #daily {
    margin: 40px 15px;
    text-align: center;
  }
}

#daily h2 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 300;
}
@media (max-width: 420px) {
  #daily h2 {
    font-size: 2rem;
  }
}

#daily .card {
  width: 40%;
  min-width: 100px;
  margin: 0 10px;
  background-color: #f7f9fc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#daily .card:hover {
  cursor: pointer;
}
@media (max-width: 420px) {
  #daily .card {
    width: 100%;
    margin: 10px 0;
  }
}

#daily .wrapper {
  position: relative;
  display: flex;
  padding: 20px;
  text-align: center;
}
@media (max-width: 420px) {
  #daily .wrapper {
    flex-direction: column;
  }
}

#header {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(45deg, #3498db, #2c3e50);
  color: white;
}

#header h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
@media (max-width: 420px) {
  #header h1 {
    font-size: 1.8rem;
  }
}

#hourly {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
@media (max-width: 420px) {
  #hourly {
    margin: 40px 15px;
    text-align: center;
  }
}

#hourly h2 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 300;
}
@media (max-width: 420px) {
  #hourly h2 {
    font-size: 2rem;
  }
}

#hourly .wrapper {
  position: relative;
  display: flex;
  padding: 20px;
  text-align: center;
}
@media (max-width: 960px) {
  #hourly .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
  }
}
@media (max-width: 420px) {
  #hourly .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
}
#hourly .wrapper .card {
  width: 40%;
  min-width: 100px;
  margin: 0 5px;
  background-color: #f7f9fc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media (max-width: 960px) {
  #hourly .wrapper .card {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 420px) {
  #hourly .wrapper .card {
    width: 100%;
    margin: 10px 0;
  }
}

#select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 420px) {
  #select {
    flex-direction: column-reverse;
    gap: 20px;
    margin: 30px auto;
  }
}

#favorite-cities,
#search-bar {
  min-width: 250px;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #555;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

/*# sourceMappingURL=main.css.map */
