$font-lato: "Lato", sans-serif;
$font-playFair: "Playfair Display", serif;
$desktop-size: 1440px;
$mobile-size: 375px;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-lato;
  font-size: large;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  min-height: 100vh;
}


.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0 20px;
}
