#daily {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#daily h2 {
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: 300;
}

#daily .card {
    width: 40%;
    min-width: 100px;
    margin: 0 auto;
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#daily .wrapper {
    position: relative;
    display: flex;
    padding: 20px;
    text-align: center;

    .card {
        margin: 0 20px;

        &:hover {
            cursor: pointer;
        }
    }
}
